body {
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
  }

  .calculator {
    background-color: #c1dc95;
    box-shadow: #f3f3f3;
    border-radius: 15px;
    padding: 10px;
    width: 350px;
    height: 500px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .display {
    font-size: 45px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 35px;
    margin-top: 10px;
    text-align: right;           
    padding-right: 10px;  
    padding-left: 10px;   
    border: 1px solid #4e744f;
    border-radius: 30px; 
  }


  button {
    font-size: 24px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: none;
    background-color: #dce8b8;
    cursor: pointer;
  }
  .blankSpace {
  width: 70px; 
  height: 70px;
  }

  .backspace {
  display: inline-block;
  transform: translateY(-2px); 
  }

  .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center ;

    
  }

  